*.mat
*.pdf
Archive
Bundles
Figures
Frames
Videos
MonteCarlo.txt
*.o
*.mod
.metadata
*.LOG
*.OUT
*.zip
*.pdf
*.jpg
octave-workspace
*.backup
State.pdf
*.RESTART
*.OUT
Figures
gitsync
WingsX
Blender
.cproject
.project
*.exe
Figures/Sweeps
Figures/Screenshots
Figures/Archive
WingsX_Aircraft
SimX_Aircraft
ReadMe_Win.txt
Windows_EXE/
compile.bat
open.bat
exclude-list.txt
Frames
Documents
tapasdatatypes.mod
